.headerContainer{
    height: 8vh;
    width: 100vw;;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(185, 181, 181);
    color: white;

}

.left{
    width: 18%;
    align-self: flex-end;

}

.right{
    width: 60%;
    display: flex;
    gap: 7%;
    align-self: end;
    justify-content: flex-end;

}

.right a{
    text-decoration: none;
    color: blueviolet;

}

.active-link {
    font-weight: bold;
    color: rgb(45, 2, 45)!important;
  }