<div class="headerContainer">
    <div class="left"> EMPRESA JURADO S.A.</div>
    <div class="right">
        <a routerLink="empleados" routerLinkActive="active-link">EMPLEADOS</a>
        <a routerLink="registro" routerLinkActive="active-link">REGISTRO</a>
        <a routerLink="login" routerLinkActive="active-link">LOGIN</a>
        <a routerLink="eliminar" routerLinkActive="active-link">ELIMINAR</a>
        <a routerLink="nuevo" routerLinkActive="active-link">AÑADIR</a>
        <a routerLink="modificar" routerLinkActive="active-link">MODIFICAR</a>
    </div>
</div>