<div class="empleadosContainer">
    <div class="listaEmpleados">
        <button type="button" (click)="mostrarEmpleados()">Mostrar empleados</button>
        <input type="text" placeholder="Buscar empleados">
        <!-- <button type="button" (click)="mostrarEmpleado(name, lastName)">Mostrar empleado</button> -->


        <div class="empleados">
            <ul>
                <li *ngFor="let empleado of empleados">{{empleado.name}} {{empleado.lastName}}</li>
            </ul>
        </div>
    </div>
</div>