<div class="empleadosContainer">
    <div class="listaEmpleados">
        <button type="button" (click)="mostrarEmpleados()">Mostrar empleados</button>
        <input type="text" placeholder="Buscar empleados" [(ngModel)]="idEmpleado">
        <button type="button" (click)="mostrarEmpleado()">Mostrar empleado</button>


        <div class="empleados">
            <ul>
                <li *ngFor="let empleado of empleados">{{empleado.name}} {{empleado.lastName}}</li>
            </ul>
            <ul *ngIf="empleado">
                <li>{{empleado.name}} {{empleado.lastName}}</li>
              </ul>
              <p *ngIf="!empleado">No se ha encontrado al trabajador</p>
        </div>
    </div>
</div>